# Assignment - Add one or more additional features to the existing ML model & find out its accuracy

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error  ,r2_score

In [2]:
df= pd.read_csv("Data.csv")

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Feature Engineering

In [4]:
df['batting_team'].unique()

array(['Australia', 'Sri Lanka', 'Hong Kong', 'Ireland', 'Zimbabwe',
       'India', 'Bangladesh', 'New Zealand', 'South Africa', 'England',
       'West Indies', 'Afghanistan', 'Pakistan', 'United Arab Emirates',
       'Scotland', 'Oman', 'Netherlands', 'Papua New Guinea',
       'ICC World XI', 'Nepal', 'Philippines', 'Vanuatu',
       'United States of America', 'Germany', 'Italy', 'Ghana', 'Namibia',
       'Uganda', 'Botswana', 'Kenya', 'Nigeria', 'Guernsey', 'Denmark',
       'Norway', 'Jersey', 'Thailand', 'Malaysia', 'Maldives',
       'Singapore', 'Qatar', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Spain', 'Gibraltar', 'Bhutan',
       'Saudi Arabia', 'Bahrain', 'Iran', 'Belgium', 'Luxembourg',
       'Czech Republic', 'Isle of Man', 'Bulgaria', 'Romania'],
      dtype=object)

## Subsetting only consistent teams

In [5]:
consistent_teams=['England','Australia','West Indies','India','Bangladesh','New Zealand','Pakistan','South Africa','Sri Lanka']

In [6]:
df['batting_team'].isin(consistent_teams)

0         True
1         True
2         True
3         True
4         True
          ...
221728    True
221729    True
221730    True
221731    True
221732    True
Name: batting_team, Length: 221733, dtype: bool

In [7]:
df=df[df['batting_team'].isin(consistent_teams)]

In [8]:
df=df[df['bowling_team'].isin(consistent_teams)]

In [9]:
df['batting_team'].unique()

array(['Australia', 'Sri Lanka', 'Bangladesh', 'New Zealand',
       'South Africa', 'England', 'West Indies', 'India', 'Pakistan'],
      dtype=object)

In [10]:
df['bowling_team'].unique()

array(['Sri Lanka', 'Australia', 'New Zealand', 'Bangladesh',
       'South Africa', 'England', 'West Indies', 'India', 'Pakistan'],
      dtype=object)

In [11]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [12]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Subsetting the data with required features

In [13]:
df.sort_values(['match_id', 'innings'], ascending=[True, True])

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
101048,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101049,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101050,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101051,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101052,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101043,1237124,2020/21,2020-12-01,Newlands,2,17.1,England,South Africa,JC Buttler,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101044,1237124,2020/21,2020-12-01,Newlands,2,17.2,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101045,1237124,2020/21,2020-12-01,Newlands,2,17.3,England,South Africa,DJ Malan,JC Buttler,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101046,1237124,2020/21,2020-12-01,Newlands,2,17.4,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101047,1237124,2020/21,2020-12-01,Newlands,2,17.5,England,South Africa,DJ Malan,JC Buttler,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df=df.sort_values(['match_id', 'innings'], ascending=[True, True])

In [15]:
df.head(2)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
101048,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101049,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df['overs']=df['ball']

In [17]:
df['ball'] = df['ball'].astype(str)

In [18]:
df['ball'].str[0:-1]

101048     0.
101049     0.
101050     0.
101051     0.
101052     0.
         ...
101043    17.
101044    17.
101045    17.
101046    17.
101047    17.
Name: ball, Length: 119582, dtype: object

In [19]:
df['over']=df['ball'].str[0:-1]

In [20]:
df['over'].str.replace('.', '')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4988\3698243305.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['over'].str.replace('.', '')

101048     0
101049     0
101050     0
101051     0
101052     0
          ..
101043    17
101044    17
101045    17
101046    17
101047    17
Name: over, Length: 119582, dtype: object

In [21]:
df['over']=df['over'].str.replace('.', '')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4988\3218266729.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['over']=df['over'].str.replace('.', '')

In [22]:
df['ball'].str[-1:]

101048    1
101049    2
101050    3
101051    4
101052    5
         ..
101043    1
101044    2
101045    3
101046    4
101047    5
Name: ball, Length: 119582, dtype: object

In [23]:
df['ball']=df['ball'].str[-1:]

In [24]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
101048,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
101049,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0
101050,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
101051,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
101052,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [25]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [26]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
101048,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,0
101049,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0,1
101050,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0,0
101051,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0,0
101052,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0,0

In [27]:
df=df[['match_id','innings','batting_team','bowling_team','overs','over','ball','total_runs','player_dismissed']]

In [28]:
df.head()

,match_id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
101048,211028,1,England,Australia,0.1,0,1,0,NaN
101049,211028,1,England,Australia,0.2,0,2,1,NaN
101050,211028,1,England,Australia,0.3,0,3,0,NaN
101051,211028,1,England,Australia,0.4,0,4,0,NaN
101052,211028,1,England,Australia,0.5,0,5,0,NaN

In [29]:
df=df.rename(columns={"match_id": "id"})

In [30]:
df = df.replace(np.nan, 0)

In [31]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
101048,211028,1,England,Australia,0.1,0,1,0,0
101049,211028,1,England,Australia,0.2,0,2,1,0
101050,211028,1,England,Australia,0.3,0,3,0,0
101051,211028,1,England,Australia,0.4,0,4,0,0
101052,211028,1,England,Australia,0.5,0,5,0,0

## Total runs scored in innings

In [32]:
df.groupby(['id','innings'])['total_runs'].transform('sum')

101048    179
101049    179
101050    179
101051    179
101052    179
         ...
101043    192
101044    192
101045    192
101046    192
101047    192
Name: total_runs, Length: 119582, dtype: int64

In [33]:
df['total']=df.groupby(['id','innings'])['total_runs'].transform('sum')

## Runs Scored till current ball

In [34]:
df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())

101048      0
101049      1
101050      1
101051      1
101052      1
         ...
101043    180
101044    186
101045    187
101046    191
101047    192
Name: total_runs, Length: 119582, dtype: int64

In [35]:
df['total_score']=df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())

In [36]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1

## Runs scored in previous 30 balls

In [37]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

             id  innings  level_2  total_runs
0        211028        1   101048         0.0
1        211028        1   101049         1.0
2        211028        1   101050         1.0
3        211028        1   101051         1.0
4        211028        1   101052         1.0
...         ...      ...      ...         ...
119577  1237124        2   101043        52.0
119578  1237124        2   101044        58.0
119579  1237124        2   101045        58.0
119580  1237124        2   101046        61.0
119581  1237124        2   101047        62.0

[119582 rows x 4 columns]

In [38]:
tmp=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

In [39]:
tmp[['total_runs']]

        total_runs
0              0.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
119577        52.0
119578        58.0
119579        58.0
119580        61.0
119581        62.0

[119582 rows x 1 columns]

In [40]:
df['prev_30_runs']=tmp['total_runs'].to_list()

In [41]:
df.head(30)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0
101053,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0
101054,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0
101055,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0
101056,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0
101057,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0
101058,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0
101059,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0
101060,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0
101061,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0
101062,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0
101063,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0
101064,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0
101065,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0
101066,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0
101067,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0
101068,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0
101069,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0
101070,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0
101071,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0
101072,211028,1,England,Australia,3.5,3,5,0,GO Jones,179,28,28.0
101073,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0
101074,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0
101075,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0
101076,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0
101077,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0

## Wickets fallen in previous 30 balls

In [42]:
df['player_dismissed'].unique()

array([0, 'GO Jones', 'A Flintoff', 'KP Pietersen', 'MP Vaughan',
       'ME Trescothick', 'AJ Strauss', 'VS Solanki', 'PD Collingwood',
       'AC Gilchrist', 'ML Hayden', 'MJ Clarke', 'A Symonds',
       'MEK Hussey', 'RT Ponting', 'DR Martyn', 'JN Gillespie', 'B Lee',
       'GD McGrath', 'SM Katich', 'SP Fleming', 'MS Sinclair',
       'BB McCullum', 'CD McMillan', 'CL Cairns', 'HJH Marshall',
       'AR Adams', 'SB Styris', 'JW Wilson', 'KD Mills', 'GC Smith',
       'JH Kallis', 'HH Gibbs', 'JM Kemp', 'SM Pollock', 'MV Boucher',
       'AG Prince', 'CK Langeveldt', 'JA Morkel', 'M Ntini', 'NJ Astle',
       'IR Bell', 'JWM Dalrymple', 'CMW Read', 'Shoaib Malik',
       'Younis Khan', 'Shahid Afridi', 'Mohammad Yousuf',
       'Mohammad Hafeez', 'WU Tharanga', 'DPMD Jayawardene',
       'ST Jayasuriya', 'TM Dilshan', 'RP Arnold', 'KC Sangakkara',
       'MF Maharoof', 'CK Kapugedera', 'SL Malinga', 'CRD Fernando',
       'JR Hopes', 'HH Dippenaar', 'AJ Hall', 'J Botha', 'GJP Kruger',
       'M Zondeki', 'CH Gayle', 'RS Morton', 'DR Smith', 'D Ganga',
       'WW Hinds', 'S Chanderpaul', 'D Ramdin', 'L Vincent', 'PG Fulton',
       'LE Bosman', 'JJ van der Wath', 'SR Watson', 'GB Hogg', 'EC Joyce',
       'J Lewis', 'MS Panesar', 'JEC Franklin', 'LRPL Taylor',
       'JAH Marshall', 'PD McGlashan', 'SE Bond', 'MS Atapattu',
       'HMCM Bandara', 'LPC Silva', 'AB de Villiers', 'RJ Peterson',
       'T Henderson', 'SR Tendulkar', 'V Sehwag', 'MS Dhoni', 'D Mongia',
       'DS Smith', 'DJ Bravo', 'MN Samuels', 'DJG Sammy', 'AN Cook',
       'MJ Prior', 'IJL Trott', 'OA Shah', 'AD Mascarenhas',
       'LMP Simmons', 'ACL Richards', 'RR Sarwan', 'Nazimuddin',
       'Tamim Iqbal', 'Mohammad Ashraful', 'Shakib Al Hasan', 'LJ Wright',
       'DL Maddy', 'CP Schofield', 'SCJ Broad', 'G Gambhir',
       'Yuvraj Singh', 'KD Karthik', 'RV Uthappa', 'IK Pathan',
       'Harbhajan Singh', 'AB Agarkar', 'Imran Nazir', 'Salman Butt',
       'Kamran Akmal', 'Misbah-ul-Haq', 'DL Vettori', 'Aftab Ahmed',
       'Mashrafe Mortaza', 'Alok Kapali', 'Farhad Reza',
       'Mushfiqur Rahim', 'Syed Rasel', 'JP Duminy', 'JDP Oram',
       'JS Patel', 'VD Philander', 'JN Snape', 'J Mubarak', 'G Wijekoon',
       'MR Gillespie', 'BJ Hodge', 'Nadif Chowdhury', 'Mahmudullah',
       'Abdur Razzak', 'NL McCullum', 'WPUJC Vaas', 'Junaid Siddique',
       'YK Pathan', 'Yasir Arafat', 'Sohail Tanvir', 'Umar Gul',
       'AC Voges', 'LA Pomersbach', 'AA Noffke', 'JM How', 'RG Sharma',
       'P Kumar', 'S Sreesanth', 'DR Flynn', 'MJ Mason', 'GJ Hopkins',
       'RN Lewis', 'JL Ontong', 'P Mustard', 'JD Ryder', 'TG Southee',
       'PA Hitchcock', 'MN van Wyk', 'GH Bodi', 'BA Parchment',
       'L Ronchi', 'SE Marsh', 'DJ Hussey', 'XM Marshall', 'WKD Perkins',
       'Dhiman Ghosh', 'Shahadat Hossain', 'DA Warner', 'CL White',
       'JL Denly', 'RS Bopara', 'Raqibul Hasan', 'Naeem Islam',
       'BJ Haddin', 'MG Johnson', 'HM Amla', 'VB van Jaarsveld',
       'RE van der Merwe', 'CJ Ferguson', 'NW Bracken', 'DW Steyn',
       'LL Tsotsobe', 'MC Henriques', 'MJ Guptill', 'NT Broom',
       'SM Davies', 'GJ Batty', 'A Khan', 'ADS Fletcher', 'SK Raina',
       'Ahmed Shehzad', 'NM Hauritz', 'JS Foster', 'GP Swann',
       'JM Anderson', 'KMDN Kulasekara', 'Fawad Alam', 'Mohammad Amir',
       'KA Pollard', 'JE Taylor', 'AJ Redmond', 'Abdul Razzaq',
       'Shahzaib Hasan', 'RA Jadeja', 'Z Khan', 'SJ Benn', 'I Udana',
       'ML Udawatte', 'SHT Kandamby', 'T Thushara', 'Shoaib Khan jnr',
       'K Weeraratne', 'CS Baugh', 'SE Findlay', 'FH Edwards',
       'EJG Morgan', 'TT Bresnan', 'AU Rashid', 'MJ North',
       'BW Hilfenhaus', 'Mehrab Hossain jnr', 'DM Richards', 'FL Reifer',
       'Umar Akmal', 'AD Mathews', 'M Muralitharan', 'RJMGM Rupasinghe',
       'TR Birt', 'SPD Smith', 'N Deonarine', 'TM Dowlin', 'DP Nannes',
       'SW Tait', 'Imran Farhat', 'Khalid Latif', 'Naved-ul-Hasan',
       'LD Chandimal', 'Imrul Kayes', 'M Vijay', 'Saeed Ajmal', 'MJ Lumb',
       'C Kieswetter', 'Shafiul Islam', 'Jahurul Islam', 'A Nehra',
       'Abdur Rehman', 'M Morkel', 'S Randiv', 'BAW Mendis', 'MH Yardy',
       'PJ Ingram', 'DR Tuffey', 'TD Paine', 'Shoaib Akhtar',
       "SNJ O'Keefe", 'BJ Watling', 'IG Butler', 'AB Dinda',
       'CU Jayasinghe', 'AN Petersen', 'NO Miller', 'Sarfraz Ahmed',
       'JW Hastings', 'DA Miller', 'RJ Nicol', 'NLTC Perera', 'AJ McKay',
       'Zulqarnain Haider', 'CA Ingram', 'V Kohli', 'WD Parnell',
       'DG Brownlie', 'Asad Shafiq', 'Wahab Riaz', 'SR Patel',
       'CR Woakes', 'PA Patel', 'R Dravid', 'AM Rahane', 'R Ashwin',
       'MM Patel', 'AD Hales', 'DM Bravo', 'DP Hyatt', 'AD Russell',
       'Mohammad Salman', 'S Dhawan', 'S Badrinath', 'MS Wade',
       'MR Marsh', 'HG Kuhn', 'BMAJ Mendis', 'MDK Perera', 'AJ Finch',
       'GJ Bailey', 'CJ McKay', 'XJ Doherty', 'RE Levi', 'KS Williamson',
       'C de Grandhomme', 'DAJ Bracewell', 'MK Tiwary', 'J Charles',
       'NE Bonner', 'CD Barnwell', 'DO Christian', 'D Bishoo',
       'MC Bascombe', 'JM Bairstow', 'BA Stokes', 'JC Buttler',
       'SG Borthwick', 'JW Dernbach', 'Awais Zia', 'Hammad Azam',
       'AB Barath', 'CR Brathwaite', 'Nasir Hossain', 'Elias Sunny',
       'F du Plessis', 'EMDY Munaweera', 'Nasir Jamshed',
       'HDRL Thirimanne', 'F Behardien', 'SP Narine', 'S Badree',
       'GJ Maxwell', 'PJ Cummins', 'MA Starc', 'DT Christian',
       'TWM Latham', 'AM Ellis', 'KS Lokuarachchi', 'Shakeel Ansar',
       'SMSM Senanayake', 'RMS Eranga', 'PP Chawla', 'HD Rutherford',
       'JP Faulkner', 'NM Coulter-Nile', 'CJ Anderson', 'JDS Neesham',
       'C Munro', 'RM Hira', 'MJ McClenaghan', 'H Davids', 'Q de Kock',
       'CH Morris', 'RK Kleinveldt', 'KJ Abbott', 'TA Boult',
       'GD Elliott', 'JC Tredwell', 'MDKJ Perera', 'BJ Rohrer',
       'BCJ Cutting', 'Anamul Haque', 'I Sharma', 'Shamsur Rahman',
       'Sohag Gazi', 'JE Root', 'MM Ali', 'Umar Amin', 'Haris Sohail',
       'NJ Maddinson', 'Sohaib Maqsood', 'Sharjeel Khan',
       'Bilawal Bhatti', 'S Prasanna', 'KOA Powell', 'CAK Walton',
       'JJ Roy', 'KDK Vithanage', 'MA Carberry', 'CJ Jordan',
       'AP Devcich', 'Ziaur Rahman', 'Mominul Haque', 'Sabbir Rahman',
       'JM Muirhead', 'Mohammad Mithun', 'Arafat Sunny', 'AK Perera',
       'RR Hendricks', 'RR Rossouw', 'D Wiese', 'Anwar Ali', 'Saad Nasim',
       'PJ Hughes', 'AR Nurse', 'SS Cottrell', 'SW Billings', 'DJ Willey',
       'MJ Santner', 'BR Dunk', 'NJ Reardon', 'R McLaren', 'SA Abbott',
       'Soumya Sarkar', 'Liton Das', 'Mustafizur Rahman', 'Rony Talukdar',
       'GH Worker', 'AM Phangiso', 'Mukhtar Ahmed', 'DM de Silva',
       'TAM Siriwardana', 'GSNFG Jayasuriya', 'MD Shanaka',
       'Mohammad Rizwan', 'UT Khawaja', 'PM Nevill', 'TM Head', 'CA Lynn',
       'KW Richardson', 'CJ Boyce', 'AJ Tye', 'JM Vince',
       'Rafatullah Mohmand', 'Imran Khan (1)', 'LE Plunkett', 'AT Rayudu',
       'AR Patel', 'B Kumar', 'MD Gunathilaka', 'BKG Mendis',
       'RLB Rambukwella', 'N Pradeep', 'Imad Wasim', 'TD Astle',
       'MJ Henry', 'JO Holder', 'JT Smuts', 'TB de Bruyn', 'M Mosehle',
       'N Dickwella', 'ST de Silva', 'AL Phehlukwayo', 'Imran Tahir',
       'DAS Gunaratne', 'HH Pandya', 'AC Agar', 'HMRKB Herath',
       'Shuvagata Hom', 'HM Nicholls', 'Al-Amin Hossain', 'JDF Vandersay',
       'RAS Lakmal', 'JJ Bumrah', 'PVD Chameera', 'Khurram Manzoor',
       'Mohammad Sami', 'Nurul Hasan', 'SS Pathirana', 'M Klinger',
       'AJ Turner', 'JA Richardson', 'JRMVB Sanjaya', 'Mosaddek Hossain',
       'TC Bruce', 'Rubel Hossain', 'GD Phillips', 'BM Wheeler',
       'LS Livingstone', 'DJ Malan', 'E Lewis', 'R Powell', 'KL Rahul',
       'MK Pandey', 'Parvez Rasool', 'A Mishra', 'TS Mills', 'N Pooran',
       'Babar Azam', 'TA Blundell', 'IS Sodhi', 'DJM Short', 'TK Curran',
       'MP Stoinis', 'MS Chapman', 'TL Seifert', 'LA Dawson',
       'Mehedi Hasan Miraz', 'Taskin Ahmed', 'Mohammad Saifuddin',
       'Fakhar Zaman', 'Shadab Khan', 'JN Mohammed', 'RR Pant',
       'KM Jadhav', 'AK Kitchen', 'SD Hope', 'KOK Williams', 'SO Hetmyer',
       'RR Emrit', 'Mohammad Nawaz (3)', 'Faheem Ashraf', 'Hasan Ali',
       'SHA Rance', 'Kuldeep Yadav', 'AT Carey', 'B Stanlake', 'SS Iyer',
       'S Samarawickrama', 'SMA Priyanjan', 'PC de Silva', 'H Klaasen',
       'D Paterson', 'C Jonker', 'A Dananjaya', 'MVT Fernando',
       'Zakir Hasan', 'Afif Hossain', 'Ariful Haque', 'Mahedi Hasan',
       'Abu Jayed', 'V Shankar', 'Hussain Talat', 'Asif Ali', 'KMA Paul',
       'OF Smith', 'AM McCarthy', 'PHKD Mendis', 'MA Aponso', 'K Rabada',
       'L Ngidi', 'T Shamsi', 'Sahibzada Farhan', 'GL Cloete',
       'HE van der Dussen', 'JN Malan', 'BE Hendricks', 'CJ Dala',
       'L Sipamla', 'WIA Fernando', 'AK Markram', 'BR McDermott',
       'KH Pandya', 'Nazmul Islam', 'Imam-ul-Haq', 'BM Duckett',
       'FA Allen', 'O Thomas', 'SE Rutherford', 'DJ Mitchell',
       'YS Chahal', 'CBRLS Kumara', 'CAK Rajitha', 'A Zampa',
       'LH Ferguson', 'K Pierre', 'JD Campbell', 'OC McCoy', 'UT Yadav',
       'PSP Handscomb', 'PBB Rajapaksa', 'BOP Fernando', 'PWH de Silva',
       'PADLR Sandakan', 'Khushdil Shah', 'Iftikhar Ahmed', 'T Bavuma',
       'D Pretorius', 'BC Fortuin', 'PJ van Biljon', 'A Nortje',
       'Washington Sundar', 'S Dube', 'Mohammad Naim',
       'Aminul Islam Biplob', 'BA King', 'HR Walsh', 'SM Curran',
       'L Gregory', 'S Mahmood', 'T Banton', 'SV Samson', 'SN Thakur',
       'SC Kuggeleijn', 'LD Madushanka', 'Haider Ali', 'M Bhanuka',
       'Mohammad Hasnain', 'Ahsan Ali', 'DP Conway', 'KR Mayers',
       'Abdullah Shafique', 'GF Linde'], dtype=object)

In [43]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [44]:
tmp=df.groupby(['id','innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [45]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0
101053,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0
101054,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0
101055,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0
101056,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0
101057,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0
101058,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0
101059,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0
101060,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0
101061,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0
101062,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0
101063,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0
101064,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0
101065,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0
101066,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0
101067,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0
101068,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0,0.0
101069,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0,0.0
101070,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0,0.0
101071,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0,0.0
101072,211028,1,England,Australia,3.5,3,5,0,1,179,28,28.0,1.0
101073,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0,1.0
101074,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0,1.0
101075,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0,1.0
101076,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0,1.0
101077,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0,1.0
101078,211028,1,England,Australia,4.5,4,5,1,0,179,38,38.0,1.0
101079,211028,1,England,Australia,4.6,4,6,1,0,179,39,38.0,1.0
101080,211028,1,England,Australia,4.7,4,7,1,0,179,40,39.0,1.0
101081,211028,1,England,Australia,4.8,4,8,3,0,179,43,42.0,1.0
101082,211028,1,England,Australia,5.1,5,1,1,0,179,44,43.0,1.0
101083,211028,1,England,Australia,5.2,5,2,0,0,179,44,42.0,1.0
101084,211028,1,England,Australia,5.3,5,3,4,0,179,48,44.0,1.0
101085,211028,1,England,Australia,5.4,5,4,1,0,179,49,45.0,1.0
101086,211028,1,England,Australia,5.5,5,5,0,1,179,49,45.0,2.0
101087,211028,1,England,Australia,5.6,5,6,1,0,179,50,45.0,2.0
101088,211028,1,England,Australia,6.1,6,1,1,0,179,51,46.0,2.0
101089,211028,1,England,Australia,6.2,6,2,0,0,179,51,46.0,2.0
101090,211028,1,England,Australia,6.3,6,3,1,0,179,52,47.0,2.0
101091,211028,1,England,Australia,6.4,6,4,0,0,179,52,46.0,2.0
101092,211028,1,England,Australia,6.5,6,5,4,0,179,56,46.0,2.0
101093,211028,1,England,Australia,6.6,6,6,2,0,179,58,47.0,2.0
101094,211028,1,England,Australia,7.1,7,1,1,0,179,59,48.0,2.0
101095,211028,1,England,Australia,7.2,7,2,4,0,179,63,48.0,2.0
101096,211028,1,England,Australia,7.3,7,3,2,0,179,65,46.0,2.0
101097,211028,1,England,Australia,7.4,7,4,1,0,179,66,46.0,2.0
101098,211028,1,England,Australia,7.5,7,5,1,0,179,67,47.0,2.0
101099,211028,1,England,Australia,7.6,7,6,1,0,179,68,44.0,2.0
101100,211028,1,England,Australia,8.1,8,1,1,0,179,69,41.0,2.0
101101,211028,1,England,Australia,8.2,8,2,1,0,179,70,42.0,2.0
101102,211028,1,England,Australia,8.3,8,3,1,0,179,71,43.0,1.0
101103,211028,1,England,Australia,8.4,8,4,4,0,179,75,46.0,1.0
101104,211028,1,England,Australia,8.5,8,5,1,0,179,76,46.0,1.0
101105,211028,1,England,Australia,8.6,8,6,6,0,179,82,50.0,1.0
101106,211028,1,England,Australia,9.1,9,1,1,0,179,83,47.0,1.0
101107,211028,1,England,Australia,9.2,9,2,2,0,179,85,48.0,1.0

# Wickets fallen till the current ball

In [46]:
df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

101048    0
101049    0
101050    0
101051    0
101052    0
         ..
101043    1
101044    1
101045    1
101046    1
101047    1
Name: player_dismissed, Length: 119582, dtype: int32

In [47]:
df['total_wickets']=df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

# Dot balls in previous 30 balls

In [48]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id','innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

# Boundaries in previous 30 balls

In [49]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id','innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

In [50]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0

In [51]:
df.dtypes

id                      int64
innings                 int64
batting_team           object
bowling_team           object
overs                 float64
over                   object
ball                   object
total_runs              int64
player_dismissed        int32
total                   int64
total_score             int64
prev_30_runs          float64
prev_30_wickets       float64
total_wickets           int32
prev_30_dot_balls     float64
prev_30_boundaries    float64
dtype: object

In [52]:
convert_dict = {'prev_30_runs': int, 
                'prev_30_wickets': int,
                'prev_30_dot_balls':int,
                'prev_30_boundaries':int,
                'over' :int,
                'ball' : int
               } 
  
df = df.astype(convert_dict)

In [53]:
df.dtypes

id                      int64
innings                 int64
batting_team           object
bowling_team           object
overs                 float64
over                    int32
ball                    int32
total_runs              int64
player_dismissed        int32
total                   int64
total_score             int64
prev_30_runs            int32
prev_30_wickets         int32
total_wickets           int32
prev_30_dot_balls       int32
prev_30_boundaries      int32
dtype: object

## Run rate till current ball

In [54]:
df['total_balls']=df['over']*6+df['ball']

In [55]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0,1
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0,2
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0,3
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0,4
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0,5

In [56]:
df['run_rate']=6*(df['total_score'])/df['total_balls']

## Run rate in previous 30 balls

In [57]:
df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

             id  innings  level_2   run_rate
0        211028        1   101048   0.000000
1        211028        1   101049   1.500000
2        211028        1   101050   1.666667
3        211028        1   101051   1.625000
4        211028        1   101052   1.540000
...         ...      ...      ...        ...
119577  1237124        2   101043  10.453850
119578  1237124        2   101044  10.474700
119579  1237124        2   101045  10.495826
119580  1237124        2   101046  10.522870
119581  1237124        2   101047  10.552634

[119582 rows x 4 columns]

In [58]:
tmp=df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

In [59]:
tmp['run_rate']

0          0.000000
1          1.500000
2          1.666667
3          1.625000
4          1.540000
            ...
119577    10.453850
119578    10.474700
119579    10.495826
119580    10.522870
119581    10.552634
Name: run_rate, Length: 119582, dtype: float64

In [60]:
df['prev_30_run_rate']=tmp['run_rate'].to_list()

In [61]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0,1,0.0,0.000000
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0,2,3.0,1.500000
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0,3,2.0,1.666667
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0,4,1.5,1.625000
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0,5,1.2,1.540000

In [62]:
df.dtypes

id                      int64
innings                 int64
batting_team           object
bowling_team           object
overs                 float64
over                    int32
ball                    int32
total_runs              int64
player_dismissed        int32
total                   int64
total_score             int64
prev_30_runs            int32
prev_30_wickets         int32
total_wickets           int32
prev_30_dot_balls       int32
prev_30_boundaries      int32
total_balls             int32
run_rate              float64
prev_30_run_rate      float64
dtype: object

In [63]:
convert_dict = {'run_rate':int,
               'prev_30_run_rate':int,
               }
df = df.astype(convert_dict)

In [64]:
df.dtypes

id                      int64
innings                 int64
batting_team           object
bowling_team           object
overs                 float64
over                    int32
ball                    int32
total_runs              int64
player_dismissed        int32
total                   int64
total_score             int64
prev_30_runs            int32
prev_30_wickets         int32
total_wickets           int32
prev_30_dot_balls       int32
prev_30_boundaries      int32
total_balls             int32
run_rate                int32
prev_30_run_rate        int32
dtype: object

In [65]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
101048,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0,1,0,0
101049,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0,2,3,1
101050,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0,3,2,1
101051,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0,4,1,1
101052,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0,5,1,1

In [66]:
df.to_csv('AllT20I_data_with_imp_features', index=None)

In [67]:
df_20i = pd.read_csv('AllT20I_data_with_imp_features')

In [68]:
df_20i.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0,1,0,0
1,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0,2,3,1
2,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0,3,2,1
3,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0,4,1,1
4,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0,5,1,1

In [69]:
df_20i=pd.get_dummies(data=df_20i, columns=['batting_team', 'bowling_team'])

In [70]:
df_20i.columns

Index(['id', 'innings', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'total_balls', 'run_rate', 'prev_30_run_rate',
       'batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [71]:
df_20i=df_20i[['id','batting_team_Australia','batting_team_Bangladesh', 'batting_team_England', 'batting_team_India','batting_team_New Zealand','batting_team_Pakistan', 
       'batting_team_South Africa', 'batting_team_Sri Lanka','batting_team_West Indies','bowling_team_Australia', 'bowling_team_Bangladesh', 'bowling_team_England',
        'bowling_team_India', 'bowling_team_New Zealand', 'bowling_team_Pakistan','bowling_team_South Africa', 'bowling_team_Sri Lanka','bowling_team_West Indies',
            'overs','total_score','total_wickets','prev_30_runs','prev_30_wickets','prev_30_dot_balls','prev_30_boundaries','total_balls','prev_30_run_rate','total']]

In [72]:
df_20i.head()

,id,batting_team_Australia,batting_team_Bangladesh,batting_team_England,batting_team_India,batting_team_New Zealand,batting_team_Pakistan,batting_team_South Africa,batting_team_Sri Lanka,batting_team_West Indies,...,overs,total_score,total_wickets,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,prev_30_run_rate,total
0,211028,0,0,1,0,0,0,0,0,0,...,0.1,0,0,0,0,1,0,1,0,179
1,211028,0,0,1,0,0,0,0,0,0,...,0.2,1,0,1,0,1,0,2,1,179
2,211028,0,0,1,0,0,0,0,0,0,...,0.3,1,0,1,0,2,0,3,1,179
3,211028,0,0,1,0,0,0,0,0,0,...,0.4,1,0,1,0,3,0,4,1,179
4,211028,0,0,1,0,0,0,0,0,0,...,0.5,1,0,1,0,4,0,5,1,179

## Train_Test_Split

In [73]:
X = df_20i.drop(labels=['total','id'], axis=1)
y = df_20i['total'].values

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=42,stratify=y)

In [75]:
X_train=X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [76]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(95665, 27) (23917, 27) (95665,) (23917,)

# Linear Regression

In [77]:
LR = LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [78]:
filename = 'score_lr-model.pkl'
pickle.dump(LR, open(filename, 'wb'))

In [79]:
# Prediction on X_test 
pred=LR.predict(X_test)
mean_absolute_error (y_test, pred)

18.369715372615023

In [80]:
# Training Accuracy
pred_train = LR.predict(X_train)
accuracy_lr = r2_score(y_train,pred_train)
accuracy_lr

0.4396091164661825

In [81]:
# Testing Accuracy
pred_test = LR.predict(X_test)
accuracy_lm_test = r2_score(y_test,pred_test)
accuracy_lm_test

0.43248298574145294

In [82]:
def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(LR.predict(data))
    
    print('Score Prediction with Linear Regression')
    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [83]:
Bat_team = 'IND' 

Bowl_team = 'PAK' 

overs = 8.3

total_score = 99 # current score

total_wickets = 2 # current wicket 

run_rate = 12

prev_runs_30 = 70 # runs in prev 30 balls

prev_wickets_30 = 1 # wickets in prev 30 balls

prev_30_dot_balls = 3 # dots in prev 30 balls

prev_30_boundaries = 11 # boundaries in prev 30 balls

prev_30_run_rate = 11


score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Score Prediction with Linear Regression
Predicted score:  136
Predicted score range:  118 to 154

# Trying with another Regressor Models

# Decision Tree

In [84]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

DecisionTreeRegressor()

In [85]:
pred_train = dt_model.predict(X_train)
accuracy_dt = r2_score(y_train,pred_train)
accuracy_dt

0.9829371038839297

In [86]:
pred_test = dt_model.predict(X_test)
accuracy_dt_test = r2_score(y_test,pred_test)
accuracy_dt_test

0.714949766905262

In [87]:
def dt_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(dt_model.predict(data))
    
    print('Score Prediction with Decision Tree')
    print('Predicted score : ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [88]:
Bat_team = 'IND' 

Bowl_team = 'PAK' 

overs = 8.3

total_score = 99 # current score

total_wickets = 2 # current wicket 

run_rate = 12

prev_runs_30 = 70 # runs in prev 30 balls

prev_wickets_30 = 1 # wickets in prev 30 balls

prev_30_dot_balls = 3 # dots in prev 30 balls

prev_30_boundaries = 11 # boundaries in prev 30 balls

prev_30_run_rate = 11


dt_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Score Prediction with Decision Tree
Predicted score :  186
Predicted score range:  168 to 204

# Random Forest

In [89]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

RandomForestRegressor()

In [90]:
pred_train = rf.predict(X_train)
accuracy_rf = r2_score(y_train,pred_train)
accuracy_rf

0.9659944226921713

In [91]:
pred_test = rf.predict(X_test)
accuracy_rf_test = r2_score(y_test,pred_test)
accuracy_rf_test

0.8453983403711608

In [92]:
def rf_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(rf.predict(data))
    
    print('Score Prediction with Random Forest')
    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [93]:
Bat_team = 'IND' 

Bowl_team = 'PAK' 

overs = 8.3

total_score = 99 # current score

total_wickets = 2 # current wicket 

run_rate = 12

prev_runs_30 = 70 # runs in prev 30 balls

prev_wickets_30 = 1 # wickets in prev 30 balls

prev_30_dot_balls = 3 # dots in prev 30 balls

prev_30_boundaries = 11 # boundaries in prev 30 balls

prev_30_run_rate = 11


rf_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Score Prediction with Random Forest
Predicted score:  170
Predicted score range:  152 to 188

# XGBoost Regressor

In [94]:
#!pip install xgboost

In [95]:
from xgboost import XGBRegressor

In [96]:
xgb = XGBRegressor()
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
             grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.300000012, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [97]:
pred_train = xgb.predict(X_train)
accuracy_rf = r2_score(y_train,pred_train)
accuracy_rf

0.6692801355694464

In [98]:
pred_test = xgb.predict(X_test)
accuracy_rf_test = r2_score(y_test,pred_test)
accuracy_rf_test

0.6275373818038108

In [99]:
def xg_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    if Bowl_team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]
        
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(xgb.predict(data))
    
    print('Score Prediction with XGBoost')
    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -18, 'to' ,my_prediction + 18)

In [100]:
Bat_team = 'IND' 

Bowl_team = 'PAK' 

overs = 8.3

total_score = 99 # current score

total_wickets = 2 # current wicket 

run_rate = 12

prev_runs_30 = 70 # runs in prev 30 balls

prev_wickets_30 = 1 # wickets in prev 30 balls

prev_30_dot_balls = 3 # dots in prev 30 balls

prev_30_boundaries = 11 # boundaries in prev 30 balls

prev_30_run_rate = 11


xg_score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Score Prediction with XGBoost
Predicted score:  181
Predicted score range:  163 to 199